html {
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
body{
    background-color: aliceblue;
    text-align: center;
    position: absolute;
}
#menu{
    color: white;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color:black;
    font-size: 30px;
    height: 10%;
    z-index: 2;
}
#menu div{
    float: right;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: bold;
    height: 100%;
}
#menu a{
    padding-right: 5%;
    float: right;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: bold;
    color:white;
    height: 100%;
    margin:0 auto;
}
#menu a:hover{
    background-color: white;
    color: black;
    
}
#Zaloguj{
    width: 13%;
    
}
#Sklep{
    width: 13%;
}
#Biblioteka{
   width: 13%; 
}
#Puste_pole{
     width: 13%;
}
#Logo{
    width: 20%
}
#Zalogowany{
    width: 18%;
}
.logowanie{
    border:2px solid red;
}
.logowanie:target{
    margin: 30px;
}
#reje{
    margin-top: 5%;
    width: 30%;
    position:relative;
    left: 35%;
}
#rejestracja{
    text-decoration: none;
    font-size: 25px;
}
#login{
    border: 4px double black;
}
#haslo{
    border: 4px double black;
}
#login:hover{
    border: 4px solid lime;
}
#haslo:hover{
    border: 4px solid lime;
}
#wyczysc:hover{
    background-color: white;
}
#zaloguj:hover{
    background-color: white;
}