html {
    font-family: serif;
}
body {
    color: #ffffff;
    background-color: #162d40;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#content{
    position:absolute;
    top:6%;
}
h2{
    text-align: center; 
    padding: 5%;
}

#obraz1{
    width: 100%;
    height: 50%;
}
#Poprzednie_zdj{
    position: absolute;
    top: 6%;
    width: 5%;
    height: 108.5%;
    background-color:white;
    opacity: 0.09;
    z-index: 1;
}
#Poprzednie_zdj:hover{
    position: absolute;
    top: 6%;
    width: 5%;
    height: 108.5%;
    background-color: white;
    opacity: 0.25;
    z-index: 1;
}
#Kolejne_zdj{
    position: absolute;
    right: 0;
    top: 6%;
    width: 5%;
    height: 108.5%;
    background-color:white;
    opacity: 0.09;
    z-index: 1;
}
#Kolejne_zdj:hover{
    position: absolute;
    right: 0;
    top: 6%;
    width: 5%;
    height: 108.5%;
    background-color:white;
    opacity: 0.25;
    z-index: 1;
}