html{
      font-family: sans-serif;
      background-color: blue;
}
     #menu{
      width: 100%;
      float: left;
     }
     #menu div{
     list-style: none;
     background-color: cadetblue;
     width: 33.33%;
     float: left;
     text-align: center;
     height: 54px;
     
     }
     #menu a{
         text-decoration: none;
         display: block;
     
         font-weight: bold;
     }
     #menu a:hover{
         background-color: lime;
         color: red;
     }