#nazwa{
    font-size: 200%;
    margin-right: 2%;
    float: left;
}
.przycisk{
    width: 20%;
      font-family: 'Lato', sans-serif;
    display: block;
    margin-left: 1%;
    font-size: 150%;
     box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    padding: 1% 0%;
    color: white;
    border-radius: 50px;
    border: 1px solid #1d99db;
    background-color: #162d40;
}
.przycisk:hover{
        cursor: pointer;
    background-color: #1d99db;
}